name: CI

on:
  push:
  pull_request:

jobs:
  tests-non-gui:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[dev]
      - name: Run non-GUI tests
        run: |
          pytest -m "not gui"
